<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom Css -->
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="static/css/ride_style.css" type="text/css" />

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <title>Fantasy Island</title>
    <style>
        body {
            height: 100vh;
            width: 100%;
            background: radial-gradient(#480d35, #17151d);
            display: grid;
            place-items: center;
            color: #ffffff;
        }

        .place-box,
        .title-box-1,
        .title-box-2,
        .desc,
        .cta,
        .nav-custom-link {
            background-color: rgba(0, 0, 0, 0.8);
        }

        .icon-vector {
            display: flex;
            justify-content: center;
            width: 20px;
            height: 20px;
            margin: 5px;
            filter: brightness(0.85);
        }

        .icon-background {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20%;
            /* for a circular background */
        }
    </style>
</head>

<body>

    <!-- N A V B A R -->
    <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
        <div class="container" style="margin-left: 1px; max-width: 100%;height: 50px">
            <img src="../static/images/logo.png" class="img-fluid nav-logo-desktop" alt="Fantasy Island Logo" style="width: 40px;">
            <ul class="navbar-nav ml-auto nav-right navbar_nav_custom" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                <li class="nav-item nav-custom-link">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item nav-custom-link">
                    <a class="nav-link" href="buy">Tickets</a>
                </li>
                <li class="nav-item nav-custom-link">
                    <a class="nav-link" href="mytrips">My Trips</a>
                </li>
                <li class="nav-item nav-custom-link">
                    <a class="nav-link" href="rides">Rides</a>
                </li>
                <li class="nav-item nav-custom-link">
                    <a class="nav-link" href="map">Park Map</a>
                </li>
                <li class="nav-item nav-custom-link">
                    <a class="nav-link" href="virtualq">Virtual-Q</a>
                </li>
                <li class="nav-item nav-custom-link">
                    <a class="nav-link" href="prediction">Time Prediction</a>
                </li>
                <li class="nav-item nav-custom-link">
                    <a class="nav-link" href="customerservices">Customer Services</a>
                </li>
                <li class="nav-item nav-custom-link">
                    <a class="nav-link" href="feedback">Feedback Form</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img width="30" height="30" src="https://img.icons8.com/doodle/96/user-male-circle.png" alt="User Avatar" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- E N D  N A V B A R -->


    <div id="demo"></div>

    <div class="details" id="details-even" style="background:#1a1a1aa1">
        <div class="place-box">
            <div class="text">Age: 13+</div>
        </div>

        <div class="title-box-1">
            <div class="title-1">GAINT</div>
        </div>
        <div class="title-box-2">
            <div class="title-2">WHEEL</div>
        </div>
        <div class="desc">
            Giant Wheel: Towering above the ground, the Giant Wheel offers breathtaking views and a gentle, circular journey in spacious, enclosed cabins. Riders of all ages can enjoy this classic amusement park attraction, with safety measures in place to accommodate
            children accompanied by adults. Typically, the minimum age requirement for riding alone is around 7 to 10 years old, but it ultimately depends on the specific ride operator's guidelines and safety regulations.
        </div>
        <div class="cta">
            <button class="bookmark">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path fill-rule="evenodd" d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z" clip-rule="evenodd"></path>
                </svg>
            </button>
            <button class="discover" href="ridereview" onclick="window.location.href='ridereview'">Ride Reviews</button>
        </div>
    </div>

    <div class="details" id="details-odd" style="background:#1a1a1aa1">
        <div class="place-box">
            <div class="text">Age: 16+</div>
        </div>
        <div class="title-box-1">
            <div class="title-1">LOOP</div>
        </div>
        <div class="title-box-2">
            <div class="title-2">ROLLERCOASTER</div>
        </div>
        <div class="desc">
            Loop Roller Coaster: This thrilling roller coaster sends riders through a series of loops, twists, and turns at high speeds. With heart-pounding drops and inversions, the Loop Roller Coaster provides an adrenaline rush for thrill-seekers. Riders
            must meet a minimum height requirement, typically around 52 inches or taller, to ensure their safety and enjoyment of the ride.
        </div>
        <div class="cta">
            <button class="bookmark">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path fill-rule="evenodd" d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z" clip-rule="evenodd"></path>
                </svg>
            </button>
            <button class="discover" href="ridereview" onclick="window.location.href='ridereview'">Ride Reviews</button>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>

</html>