<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link href="static/css/style-admin.css" rel="stylesheet">

    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
          rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
          rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>


    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
          rel="stylesheet" type="text/css"/>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>


</head>

<body>

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <div class="d-flex align-items-center justify-content-center">
        <div style="flex: 1"></div>
        <a href="index.html" class="logo d-flex align-items-center justify-content-center">
            <img src="static/images/logo.png" alt="FantasyIsland" style="scale: 100%">
        </a>
        <div style="flex: 1"></div>
    </div>
    <br>
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="admin">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="validate">
                <i class="ri-ticket-2-line"></i>
                <span>Validate Tickets</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Maintenance</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="maintenance">
                        <i class="bi bi-circle"></i><span>Maintenance request</span>
                    </a>
                </li>
                <li>
                    <a href="viewmaintenance">
                        <i class="bi bi-circle"></i><span>Maintenance Status</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="viewfeedback">
                <i class="bi bi-journals"></i>
                <span>Feedback Forms</span>
            </a>
        </li>
    </ul>

</aside>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Feedback Forms</h1>
    </div>

    <section class="section dashboard">
        <div class="container-fluid shadow-sm p-3 mb-5 rounded rounded border" style="
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
">

            <div style="
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
">
                <div>
                    <div class="container" style="text-align: center;">
                        <div class="ui label">Date</div>
                        <div class="ui input">
                            <div class="ui calendar" id="booking-date1">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="From Date" class="date-input" id="fromdate" style="width: auto">
                                </div>
                            </div>
                        </div>

                        <div class="ui label">To</div>
                        <div class="ui input">
                            <div class="ui calendar" id="booking-date2">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="To Date" class="date-input" id="todate" style="width: auto">
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <button class="ui button primary" onclick="submitForm()">Submit</button>
                    </div>
                </div>
                <div style="margin-top: 30px; width: 100%">
                    <div class="card-container" id="cardContainer"></div>
                </div>
            </div>

        </div>

    </section>

</main>
<div id="liveAlertPlaceholder" style="
    margin-top: 50px;
    right: 0px;
    float: right;
    width: 30%;
    position: absolute;
    top: 15px;
"></div>
<script>
    $('#booking-date1, #booking-date2').calendar({
        type: 'date'
    });

    $(document).ready(function () {
        $('.minus').click(function () {
            var $input = $(this).closest('.ui.input').find('.date-input');
            var count = parseInt($input.val()) - 1;
            count = count < 1 ? 1 : count;
            $input.val(count);
            $input.change();
            return false;
        });
        $('.plus').click(function () {
            var $input = $(this).closest('.ui.input').find('.date-input');
            $input.val(parseInt($input.val()) + 1);
            $input.change();
            return false;
        });
    });
</script>
<script>
    function logout() {
        // Clear the 'userData' cookie by setting an expired date
        document.cookie = 'userData=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        // Redirect the user to the login page
        window.location.href = "/login"; // Change "/login" to the actual login page URL
    }

    window.onload = function () {
        // Function to check if the user is logged in
        function isLoggedIn() {
            // Get all cookies
            const cookies = document.cookie.split(';');
            // Loop through each cookie to find userData
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Check if the cookie contains 'userData'
                if (cookie.startsWith('userData=')) {
                    // If 'userData' is found, parse it and check expiration time
                    const userDataString = cookie.substring('userData='.length, cookie.length);
                    const userData = JSON.parse(decodeURIComponent(userDataString));
                    const expirationTime = new Date(userData.expirationTime);
                    // Check if the expiration time is in the future
                    if (expirationTime > new Date()) {
                        return true; // Return true if the user is logged in
                    }
                }
            }
            return false; // Return false if 'userData' is not found or has expired
        }

        // Check if the user is logged in
        if (!isLoggedIn()) {
            // Redirect to home page if the user is logged in
            {#window.location.href = "/";#}
        }
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
            submitForm();
        });

    function submitForm() {
        const cardContainer = document.getElementById('cardContainer');
                cardContainer.innerHTML = '';

        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
        const appendAlert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('');
            alertPlaceholder.innerText = '';
            alertPlaceholder.append(wrapper)
        }
        const fromdate = document.getElementById('fromdate').value;
        const todate = document.getElementById('todate').value;

        const requestDetails = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({"fromdate": fromdate, "todate": todate})
        };

        fetch('/getfeedback', requestDetails)
            .then(response => {
                if (!response.ok) {
                    return response.json().then((responsetext) => {
                        console.error(responsetext.error);
                        appendAlert(responsetext.error, 'danger');
                        throw new Error(responsetext.error);
                    });
                } else {
                    return response.json();
                }
            })
            .then(data => {
                const formsData = data; // Assuming the response contains ticket details

                formsData.feedbackforms.forEach(feedback => {
                    const card = document.createElement('div');
                    card.classList.add('card');

                    const cardBody = document.createElement('div');
                    cardBody.classList.add('card-body');

                    const title = document.createElement('h5');
                    title.classList.add('card-title');
                    title.textContent = `Name: ${feedback.name}`;

                    var text1 = document.createElement('p');
                    text1.classList.add('card-text');
                    text1.textContent = `Email: ${feedback.email}`;

                    var text2 = document.createElement('p');
                    text2.classList.add('card-text');
                    text2.textContent = `Message: ${feedback.feedback}`;

                    cardBody.appendChild(title);
                    cardBody.appendChild(text1);
                    cardBody.appendChild(text2);
                    card.appendChild(cardBody);
                    cardContainer.appendChild(card);
                });
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            });
    }
</script>
</body>

</html>